* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: #fff;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#error {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 50%;
  margin-top: -30px;
  text-align: center;
  font-size: 16px
}

#loading {
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -7px
}

.loading-visible {
  -moz-animation: fade .3s;
  -webkit-animation: fade .3s;
  animation: fade .3s;
  opacity: 1
}

.loading-hidden {
  -moz-animation: fade-out .1s !important;
  -webkit-animation: fade-out .1s !important;
  animation: fade-out .1s !important;
  opacity: 0
}

#audio-prompt {
  font-size: 18px;
  text-align: center;
  margin-top: 18px
}

#loading-bar {
  width: 150px;
  height: 15px;
  margin: 0 auto 0 auto;
  border: 1px solid;
  border-radius: 15px;
  overflow: hidden;
  transition: width .3s, height .3s, margin .3s, border-radius .3s
}

#loading-fill {
  background: currentColor;
  height: 100%;
  width: 0%;
  transition: background .3s;
  position: relative;
  overflow: hidden
}

#loading-bar.loading-button {
  width: 120px;
  height: 50px;
  margin-top: -18px;
  border-radius: 25px;
  cursor: pointer;
}

#loading-bar.loading-button #loading-fill {
  background: rgba(255, 255, 255, 0)
}

#loading-bar.loading-button:active {
  outline: 0 !important
}

#loading-bar.loading-button:active #loading-fill {
  background: rgba(255, 255, 255, .1)
}

#loading-play {
  position: absolute;
  height: 30px;
  width: 100%;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: Georgia, serif;
  font-weight: 700;
  opacity: 0;
  display: none
}

.loading-button #loading-play {
  display: block !important
}

.loading-button #loading-fill #loading-play {
  opacity: 1 !important
}

@-moz-keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-moz-keyframes fade-out {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes fade-out {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

.Surface {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Notes {
  display: flex;
  height: 5em;
}

.Notes--note {
  position: relative;
  height: 100%;
  width: 2em;
  border: 2px solid;
}

.Notes--note[data-melody-note] {
  background: #ccc;
}

.Notes--note[black] {
  margin: -2em -1em 0;
  background: #000;
  border-color: #fff;
  z-index: 1;
}

.Notes--note[black][data-melody-note] {
  background: #777;
}

.Notes--note[is-playing] {
  background: blue;
}

.Notes--note:not([data-melody-note]) {
  pointer-events: none;
}

.Notes--note:not(:first-child) {
  border-left-width: 1px;
}

.Notes--note:not(:last-child) {
  border-right-width: 1px;
}
